body {
}

.footer{
    font-size:10px;
    position: absolute; 
    right: 10px; 
    bottom: 10px;
}

.content{
    background-color:grey;
    position:absolute;
    left:251px;
    top:0px;
    margin-left:10px;
    margin-right:10px;
}